

<div class="container">

  <h1 class="spots-index-header">Search for spots near you</h1>
  <div class="search-bar index-search">
      <form action="/spots" method="GET" class="form-inline padded">
        <input type="text" class="form-control border-radius input-md" placeholder="Barcelona">
        <input type="text" name="checkin_time" class="form-control border-radius input-md timepicker" placeholder="Check in Time">
        <input type="text" name="checkout_time" class="form-control border-radius input-md timepicker" placeholder="Check out Time">

        <input type="submit" class="btn btn-danger btn-md" value="Search">
      </form>
  </div>
<!-- -->
  <%= render "shared/spotcards", spots: @spots %>
</div>

    <% @spots.each do |s| %>

    <% end %>
