<div class="container">
  <div>
    <h1>Dashboard</h1>
  </div>
  <div class="my_couches">
    <h3>My Couches</h3>
    <%= render "shared/spotcards", spots: @owned_spots %>
  </div>
  <div>
    <%= link_to 'Create a new Spot', new_spot_path, class: "btn btn-primary" %>
  </div>
  <br>
  <br>
  <div class="pending">
    <h3>Pending</h3>
    <%= render "shared/spotcards", spots: @bookings_as_visitor %>
  </div>
  <br>
  <br>
</div>
