// Import page-specific CSS files here.
@import "home";
@import "spots_index";


.banner {
    color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: cover !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
}

.subpage_banner {
    color: white;
    text-align: center;
    height: 300px;
    width: 100%;
    background-size: cover !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
}

.bg-img {
  margin: 40px;
  width: 50%;

}

.spot-details {
   margin: 50px;
   text-align: center;
   width: 50%;
   display:flex;
   flex-direction: column;
   justify-content: center;
}

.spot_wrapper {
  display:flex;
  height:400px;
}




