.index-header {
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 50px;
}


.index-search form {
  display: flex;
  margin: 50px 0px 30px 0px;
}

.spots-index-header {
  margin-top:70px;
  font-weight: 500;

}
