<div>

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path "chill_couch.jpeg" %>);">
  <div>
  <h1>Find a couch near you!</h1>
   <p>Good for: long flight layovers... quick siesta near work...
  <div class="search-bar">
    <form action="/spots" class="form-inline padded">
      <input type="text" class="form-control border-radius input-lg" placeholder="Barcelona">
      <input type="text" name="checkin_time" class="form-control border-radius input-lg timepicker" placeholder="Check in Time">
      <input type="text" name="checkout_time" class="form-control border-radius input-lg timepicker" placeholder="Check out Time">

      <input type="submit" class="btn btn-danger btn-lg" value="Search">
    </form>
  </div>
  </div>
</div>


<div class="container">
<h3>Hot Spots</h3>
  <div class="row">
    <% @spots.each do |s| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="card-category">
          <p><%= s.city %></p>
        </div>
        <%= link_to "", spot_path(s), class: "card-link" %>
      </div>
      </div>
    <% end %>
  </div>

</div>
