<h1>CSta - Find a Chill Spot</h1>
   <!-- TODO: Put your HTML code in here -->
  <div>
   <div>
      <input type="text" class="searchTerm" placeholder="Where do you want to crash?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
   </div>

<h3>Top 5 Spots in Barcelona</h3>

  <% @spots.each do |spot| %>

      <div class="spot-card">
          <%= link_to spot_path(spot) do %>
          <%= spot.city %>
          <%= spot.price %>
        <% end %>
      </div>
<% end %>



