.inline-check {
  display: inline-block;
  margin-right: 15px;
}

.user-onboarding {
  background-image: url('https://goo.gl/YRxqs1');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-card {
  height: auto;
  width: 40vw;
  background-color: white;
  padding: 50px;
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
}

.sign-title {
  color: $orange;
}

.control-label {
  visibility: hidden;
}

.form-group {
  input {
    background-color: transparent;
  }
}

.btn {
  background-color: $orange;
  color: white;
  font: Montserrat;
}
.devise-form a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: Montserrat;
}

.form-group.boolean.optional.user_remember_me {
  font-family: Montserrat;
   font-size: 15px;
}

.form-inputs body {
  font-size: 15px;
}

.form-actions {
  font-family: Montserrat;
}

