.inline-check {
  display: inline-block;
  margin-right: 15px;
}

.user-onboarding {
  background-image: url('https://goo.gl/YRxqs1');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-card {
  height: auto;
  width: 40vw;
  background-color: white;
  padding: 50px;
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
}

.sign-card-lg {
  width: 55vw;
}

.form-control {
  transform: translate3d(0, 0, 0)
}

.help-block {
  font-size: 14px;
}

.sign-title {
  color: $orange;
}

.control-label {
  visibility: hidden;
}

.form-group {
  input {
    background-color: transparent;
    font-size: 14px;
  }
}
.form-control {
    border: none;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    box-shadow: none;
  }

.btn-default {
  background-color: $orange;
  color: white;
  font: Montserrat;
}
.btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  background-color: $orange;
  color: white;
  font-family: Montserrat;
  opacity: 1;
}
.btn-default:focus {
  background-color: $orange;
  color: white;
  font-family: Montserrat;
  opacity: 1;
}
.btn-default:active {
  background-color: $orange;
  color: white;
  font-family: Montserrat;
  opacity: .8;
}
.btn-default:active:hover {
  background-color: $orange;
  color: white;
  font-family: Montserrat;
  opacity: .8;
}
.btn {
  background-color: $orange;
  color: white;
  font-family: Montserrat;
}
.devise-form a {
  color: $orange;
  text-decoration: none;
  font-size: 15px;
  font-family: Montserrat;
}

.form-group {
  font-family: Montserrat;
   font-size: 15px;
}

.form-inputs body {
  font-size: 15px;
}

.form-actions {
  font-family: Montserrat;
}

